.header {
  position: relative;
  background-image: url('./images/pattern-bg.png');
  background-position: center top;
  padding: 2em;
  padding-bottom: 13em;
  transition: padding-bottom 0.3s ease;
}

@media (min-width: 30rem) {
  .header {
    padding-bottom: 10em;
    background-size: cover;
  }
}

@media (min-width: 54rem) {
  .header {
    padding-bottom: 8.5em;
  }
}
