.list {
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
  transform: translate(0,-50%);
  margin: 0 2em;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.2);
  max-width: 30em;
  background-color: #fff;
  z-index: 2;
}

.list__item {
  padding: 1em;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.list__item-name {
  text-transform: uppercase;
  font-size: 0.6em;
  font-weight: 700;
  letter-spacing: 0.25em;
  color: hsl(0, 0%, 59%);
  margin: 0.5em 0;
}

.list__item-value {
  font-size: 1.1em;
}
